.toogle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toogle > p {
    margin-right: 2em;
    font-weight: 700;
}
.card {
    width: 655px;
    height: 625px;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
}
.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.title-container > .title > p {
    text-transform: uppercase;
}
.main {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    height: 50%;
}
.main > .div-left {
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
    width: 42%;
}
.main > .div-right {
    display: flex;
    border: 1px solid yellow;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 58%;
    height: 75%;
    flex-wrap: wrap;
    margin-top: 1em;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    height: 50%;
}

@media (max-width: 600px) {
    .main .div-right {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0.25em 0;
    }
    .button {
        width: 50%;
        margin: 0.5em 0;
    }
}
