.toogle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toogle > p {
    margin-right: 2em;
    font-weight: 700;
}
.card {
    width: 655px;
    height: 625px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    box-shadow: 0px 0px 20px 20px rgb(245, 246, 251);
    margin: 1em 0;
}
.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
}
.title-container > .title > p {
    text-transform: uppercase;
    color: rgb(135, 152, 174);
    font-weight: 500;
    line-height: normal;
}
.main {
    display: flex;
    justify-content: space-around;
    height: 50%;
}
.main > .div-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 42%;
    padding: 1em 1em;
}
.main > .div-right {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 58%;
    height: 75%;
    flex-wrap: wrap;
    margin-top: 1em;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

@media (max-width: 700px) {
    .card {
        display: block;
        width: 100vw;
        height: 100%;
        margin-top: 3em;
    }
    .toogle > p {
        margin: 0.5em;
    }
    .main {
        flex-direction: column;
        height: auto;
    }
    .main > .div-left {
        width: 100%;
    }
    .main .div-right {
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0.25em 0;
    }
    .location {
        height: 400px;
    }
}
