* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
}
.card {
    width: 655px;
    height: 625px;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
}
.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.title-container > .title > p {
    text-transform: uppercase;
}
.main {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    height: 50%;
}
.main > .div-left {
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
    width: 42%;
}
.main > .div-right {
    display: flex;
    border: 1px solid yellow;
    justify-content: space-around;
    align-items: center;
    width: 58%;
    flex-wrap: wrap;
}
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    height: 50%;
}

.button {
    width: 140px;
    height: 75px;
}
